aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
asgiref==3.8.1
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
boto3==1.35.19
botocore==1.35.19
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cryptography==44.0.0
cycler==0.12.1
dateutils==0.6.12
deprecation==2.1.0
dj-database-url==2.1.0
Django==5.1.2
django-cors-headers==4.6.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-ratelimit==4.1.0
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docutils==0.20.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2024.12.1
fonttools==4.49.0
frozendict==2.4.4
frozenlist==1.4.1
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
gotrue==2.9.1
growupmore_utils==1.0.0
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
hyperframe==6.0.1
idna==3.6
importlib_metadata==7.1.0
inflect==7.2.1
inflection==0.5.1
jaraco.classes==3.4.0
jaraco.context==5.1.0
jaraco.functools==4.0.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jwt==1.3.1
kaggle==1.6.14
keyring==25.1.0
kiwisolver==1.4.5
lxml==5.2.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-venn==1.1.1
mdurl==0.1.2
mergedeep==1.3.4
missingno==0.5.2
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.34
mkdocs-material-extensions==1.3.1
more-itertools==10.2.0
multidict==6.1.0
multitasking==0.0.11
mysql-connector-python==8.3.0
nh3==0.2.17
nsetools==1.0.11
numpy==1.26.4
packaging==23.2
paginate==0.5.7
pandas==2.2.1
pathspec==0.12.1
peewee==3.17.5
pillow==11.0.0
pkginfo==1.10.0
platformdirs==4.2.2
plotly==5.24.1
postgrest==0.17.0
psycopg==3.2.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.17.2
PyJWT==2.10.1
pymdown-extensions==10.9
pyparsing==3.1.1
python-dateutil==2.9.0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
rarfile==4.2
readme_renderer==43.0
realtime==2.0.5
referencing==0.35.1
regex==2024.7.24
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.22.3
s3transfer==0.10.2
scikit-learn==1.5.2
scipy==1.13.0
seaborn==0.13.2
setuptools==69.2.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.5.1
storage3==0.8.0
StrEnum==0.4.15
supabase==2.8.1
supafunc==0.6.0
tenacity==9.0.0
text-unidecode==1.3
threadpoolctl==3.5.0
tqdm==4.66.4
twine==5.0.0
typeguard==4.2.1
typing_extensions==4.12.2
tzdata==2024.2
ua-parser==0.18.0
UpSetPlot==0.9.0
uritemplate==4.1.1
urllib3==2.2.1
user-agents==2.2.0
watchdog==5.0.2
webencodings==0.5.1
websockets==13.1
wheel==0.43.0
whitenoise==6.6.0
yarl==1.13.1
yfinance==0.2.40
zipp==3.18.1
